<button class="btn btn-primary" (click)="download();">Descargar</button>
<button class="btn btn-primary" (click)="downloadMultiple();">Descargar multiple</button>
<a [routerLink]="['/app-form']" class="btn btn-primary">Form</a>
<a [routerLink]="['app-form-array']" class="btn btn-primary">Form-FormArray</a>
<a [routerLink]="['app-form-builder']" class="btn btn-primary">Form-FormBuilder</a>
<a [routerLink]="['app-post']" class="btn btn-primary">Services-post</a>
<button class="btn btn-primary observable" id="observable" type="button">Observable</button>